/* This file left intentionally (almost) blank

   Landslide always adds a print.css and a screen.css, but they
   are not needed in impress.js, so this theme leaves them blank,
   except for hiding some things you want to hide.

   You can modify these files in your own fork, or you can add
   css-files in the landslide configuration file.
   See https://github.com/adamzap/landslide#presentation-configuration

*/

.impress-supported .fallback-message,
.step .notes {
    display: none;
}

.step {
    width: 800px;
}

/*Every item with alt name starting with "lt_" will be inverted (to make latex white)*/
img[src="images/normal.png"] {
    background: #FFFFFF;
}

div#step-3{
    font-size: 150%;
}


* {
    font-family: "Neutraface 2 Text";
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  /*table, td, th {
      border: 0.01px solid black;
  }*/

/* Help popup */

/*
098569
80DBC7
22FFCD
B22D00
FF5A22

*/

td {
    padding: 10px;
}

h1, strong {
    color: #B22D00;
}

h2,em {
    color: #FF5A22;
}

h3,p {
    color: #E0FFF6;
    
}

body {
    font-family: 'Neutraface 2 Text', sans-serif;
    min-height: 740px;
    font-size: 120%;
    color: #E0FFF6;
    background: rgb(128,219,199);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(128,219,199)), to(rgb(9,133,105)));
    background: -webkit-radial-gradient(rgb(128,219,199), rgb(9,133,105));
    background:    -moz-radial-gradient(rgb(128,219,199), rgb(9,133,105));
    background:     -ms-radial-gradient(rgb(128,219,199), rgb(9,133,105));
    background:      -o-radial-gradient(rgb(128,219,199), rgb(9,133,105));
    background:         radial-gradient(rgb(128,219,199), rgb(9,133,105));
}

#hovercraft-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 100%;
    left: 2em;
    bottom: 2em;
    width: 26em;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: Verdana, Arial, Sans;
}

.impress-enabled #hovercraft-help.hide {
    display: none;
}

#hovercraft-help.disabled {
    display: none;
}
